body{
    font-family: 'Abril Fatface', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

}
.top-heading{
    padding-left: 120px;
}
h1{
    font-size: 52px;
    margin: 0;
}
.influencer{
    
    width: 582px;
    height: 270px;
    padding-left: 120px;
    padding-top: 150px;
    
    
}
.main-section{
    display: flex;
    margin-top: 0;
   

}
.main-section img{
    width: 90%;
}
.button{
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 24px;
    text-decoration: none;
    font: bold;
    background-color:#E02C6D;
    color: white;
    font-weight: 700;
}
.influencer-image{
    padding-top:95px ;
    margin-left: 250px;
    padding-left: 100px;
}
.influencer-image:hover{
    transform: rotate(30deg);
    transition: transform: 1s ;
}
.popular{
    text-align: center;
    margin-top:150px;
    margin-bottom: 0px;
}
.colection{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: absolute;
    width: 1047px;
    height: 1662px;
    padding: 30px;
    left: 170px;
    top: 720px;


}
.product{
    
    margin:10px;
    padding: 20px;
    Width:329px;
    Height: 476px;
    background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
    
}
p{
    margin: 0;
    padding: 0;
}
.product-details{
    padding: 0;
}

.fas-fa-star{
    color: yellow;
}
.more{
    position: relative;
    left: 830px;
    text-align: right;
    color: #E02C6DDE;
    text-decoration: none;
    font-weight: 700;


}
.additional{
    display: flex;
    width: 1450px;
    margin-top: 1900px;
    margin-left:100px;
    padding-left: 30px;
}
.monitor{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.monitor image{
    width: 100%;
    padding-left: 20px;
}
.tv-monitor{
    width: 500px;
}
.bottom{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 150px;
    padding-top: 30px;
    height: 200px;
    
}
.fab {
    padding: 15px;
   

}