body{
    font-family: 'Abril Fatface', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;


}
.top-heading{
    padding-left: 120px;
}
h1{
    font-size: 52px;
    margin: 0;
}
.main-section{
    width: 1100px;
    height: 270px;
    padding-left: 120px;
    padding-top: 150px;
    
}
.influence{ 
    display: flex;
    flex-direction: row;
   
    margin-top: 0;
    
}

.main-section img{
    width: 100%;
}
.button{
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 24px;
    text-decoration: none;
    font: bold;
    background-color:#E02C6D;
    color: white;
    font-weight: 700;
}
.influencer-image{
    /* width: 200px; */
    padding-top:0px ;
    margin-left: 200px;
    padding-left: 100px;
}
/* .influencer-image:hover{
    transform: rotate(30deg);
    transition: transform: 1s ;
} */
.colections{
    position: absolute;
    width: 1047px;
    height: 1662px;
    padding: 30px;
    left: 170px;
    top: 450px;
    
}
.popular{
    text-align: center;
    margin-top:250px;
    margin-bottom: 50px;
}
.colection{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product{
    
    margin:10px;
    padding: 20px;
    Width:329px;
    Height: 476px;
    background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
    
}
p{
    margin: 0;
    padding: 0;
}
.product-details{
    padding: 0;
}

.fas-fa-star{
    color: yellow;
}
.more{
    position: relative;
    left: 830px;
    text-align: right;
    color: #E02C6DDE;
    text-decoration: none;
    font-weight: 700;


}
.additional{
    display: flex;
    width: 1200px;
    margin-top: 2150px;
    margin-left:160px;
    padding-left: 35px;
}
.additional-right{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.additional-left image{
    width: 100%;
    padding-left: 20px;
}
.tv-monitor{
    width: 500px;
}
.bottom{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 150px;
    padding-top: 30px;
    height: 200px;
    
}
.fab {
    padding: 15px;
}
@media screen and (max-width:688px) {
 body{
     /* overflow: hidden; */
 }
    .influencer-image{
    padding-top: 30px;
    padding-left: 0px;
    margin-left: 0;
}
.main-section{
     width: 100%;
} 
    .influence{
     flex-direction: column;
}
.popular{
    text-align: center;
    margin-top: 550px;
}
h2{
    margin: 0px;
}
.more{
    position: static;
}

.colections{
    width: 100%;

}
.colection{
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    margin-top: 150px;

}
.additional{
    flex-direction: column;
    margin-top: 6000px;
    width: 100%;
   
}
.additional image{
    
    width: 70%;
}
.tv-monitor{
    width: 80%;
    margin-top: 50px;
}

.bottom{
    width:600px;
}

     
.bottom {
    display: none;
}   
}